.inputwords {
  margin-top: 10px;
  margin-bottom: 40px;
}
.ta2 {
  /* border: 1px solid black; */
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.ta1 {
  /* border: 1px solid black; */
  margin-top: 10px;
  margin-bottom: 40px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.ta1:focus,
.ta2:focus {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.transformText {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: large;
  color: #242526;
}

.button {
  background-color: #31a1ce;
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  text-shadow: 2px 2px 4px #000000;
}

.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

body {
  background-image: radial-gradient(
    circle 1224px at 10.6% 8.8%,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 202, 251, 1) 100.2%
  );
}

.result1 {
  display: none;
}

.result2 {
  display: none;
}

h1{
    text-shadow: 2px 2px 4px #000000;
}